@media screen and (max-width:1200px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
        padding: 80px;
        border-radius: 50px;
    }

    .blog-posts {
        justify-content: space-around;
    }

    .post {
        width: calc(min(600px, 100%));
    }

    .grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2"
            "grid3 grid4"
            "grid5 grid6";
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }

    .grid {
        grid-template-areas: "grid1"
            "grid2 "
            "grid3"
            "grid4"
            "grid5"
            "grid6";
        grid-template-rows: repeat(6, 300px);
        grid-template-columns: auto;

    }
}