@media screen and (max-width:1200px) {
    .about-section {
        height: 600px;
        background-size: 100% 100%;
        padding: 0px 40px;
    }

    .inner-container {
        height: 100%;
        width: 100%;
        border-radius: 50px;

    }

    .blog-posts {
        justify-content: space-around;
    }

    .blog-posts {
        justify-content: center;
        flex-wrap: wrap;

        .post {
            width: calc(min(600px, 100%));
        }
    }

    .grid {
        display: grid;
        grid-template-areas:
            "grid1 grid2"
            "grid3 grid4"
            "grid5 grid6";
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;

        p {
            font-size: medium;
        }

    }

    .post {
        pointer-events: none;

        .post-img {
            display: none;

        }
    }

    .grid {
        grid-template-areas:
            "grid1"
            "grid2"
            "grid3"
            "grid4"
            "grid5"
            "grid6";
        grid-template-rows: 300px;
        grid-template-columns: auto;

    }
}