.about-section {
    background: url("../images/banner-maquinados.jpg") no-repeat left;
    background-size: 60% 100%;
    background-color: $opal;
    overflow: hidden;
    border-radius: 50px;
}

.inner-container {
    width: 45%;
    float: right;
    background-color: $blanco;
    border-radius: 0 50px 50px 0;

    h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

    p {
        font-size: 20px;
        color: $grisStrong;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 40px;
    }

}

.blog-posts {
    width: calc(min(1200px, 100%));
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    cursor: pointer;

    .post {
        width: calc(min(1200px, 50%));

        .post-img {
            width: 80%;
            margin: 0 40px 40px;
            padding: 30px;
            border-radius: 10px;
            transition: .3s linear;
        }

        .post-content {
            background-color: $ghost-white;
            margin: 0 20px;
            padding: 30px;
            border-radius: 10px;
            border: 2px $black solid;

            transform: translateY(-60px);
            transition: .3s linear;

            q {
                font-size: 17px;
                margin-bottom: 10px;
            }

            p {
                font-size: 25px;
                font-style: italic;
                color: $maximum-red;
                margin-bottom: 0;
            }
        }

        &:hover {
            .post-img {
                transform: translateY(20px);
            }

            .post-content {
                transform: translateY(-100px);
            }
        }


    }
}