//Definiendo variables colores
$blanco:rgb(233, 233, 233);
$rojoLight:rgb(200, 0, 0);
$rojoStrong:rgb(134, 0, 0);
$grisLight:rgb(200, 200, 200);
$grisStrong:rgb(90, 90, 90);
$grisTransparent:rgba(200, 200, 200, 0.3);





$colorBody: $blanco;
$colorHeader:#696e6d;
$colorFooter:#121212;