//Definiendo variables colores
$blanco:rgb(233, 233, 233);
$colorBody: $blanco;
$colorHeader:rgb(145, 145, 145);
$colorFooter:black;
$rojoLight:rgb(200, 0, 0);
$rojoStrong:rgb(134, 0, 0);
$grisLight:rgb(200, 200, 200);
$grisStrong:rgb(90, 90, 90);