//Definiendo variables colores
$venetian-red: #c8161cff;
$maximum-red: #dc181fff;
$ghost-white: #f7f7ffff;
$gainsboro: #d2ddde;
$opal: #adc2bcff;
$battleship-grey: #808a87ff;
$nickel: #696e6dff;
$davys-grey: #525252ff;
$jet: #292929ff;
$black: #000000ff;

$blanco: $ghost-white;
$rojoLight: $maximum-red;
$rojoStrong:$venetian-red;
$grisLight: $gainsboro;
$grisStrong: $nickel;
$grisTransparent: $davys-grey;

$colorBody: $gainsboro;
$colorHeader: $battleship-grey;
$colorFooter: $black;